.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.moviePosters {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  display: inline-block;
  width: 50%;
  height: 3vh;
  text-align: center;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 24px;
  color: blue;
  text-emphasis: bold;
  margin-bottom: 12px;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}